/** 
 * Standalone/generic logo styles
 * (standard website header logo styles are in /components/header/header)
 */


// Shield
// ------
@mixin shield-stroke($background: $white, $shield: $darkblue, $arc: $lightblue, $arrow: $orange) {
	.shield {
		stroke: $shield;
	}

	.arc {
		stroke: $arc;
	}
	
	.arrow {
		stroke: $arrow;
	}

	.background {
		fill: $background;
	}
	
	.outline-stroke {
		fill: none;
		stroke-miterlimit: 10;
		stroke-width: 10px;
	}
	
	#shield {
		&-full {
			display: none; 
		}
	}
}

.logo-shield {
	@include shield-stroke($background: $darkblue, $shield: $white, $arc: $lightblue, $arrow: $orange);
}

// Shield - animated
// -----------------
$supasmooth: cubic-bezier(.75,0,.25,1);
@mixin shield-stroke-animation() {
	#circle-full {
		animation: circle-dash 1.75s $supasmooth;
		stroke-dasharray: 85,212;
		stroke-dashoffset: -212;
		animation-direction: reverse;
		animation-fill-mode: forwards;
	}

	#triangle {
		transform-origin: top right;
		animation: triangle-dash 1.5s $supasmooth;
		stroke-dasharray: 30;
		stroke-dashoffset: -30;
		animation-direction: reverse;
		animation-fill-mode: forwards;
	}

	#shield {
		&-notched {
			animation: shield-dash 1.5s $supasmooth;
			stroke-dasharray: 210.0555;
			animation-direction: reverse;
		}
		&-full {
			animation: shield-dash 4s $supasmooth;
			stroke-dasharray: 210;
			animation-direction: reverse;
		}
	}
}

@keyframes circle-dash-thin {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 80;
  }
}
@keyframes circle-dash {
  0% {
    stroke-dashoffset: 70;
  }
  100% {
    stroke-dashoffset: 212;
  }
}

@keyframes shield-dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 210;
  }
}

@keyframes triangle-dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -30;
  }
}

// Standalone shield in off-canvas
.off-canvas  {
	svg.logo-shield {
		height: 4rem;
	}

	&.is-open .logo-shield.animate-in-view {
		@include shield-stroke-animation;
	}
}


// Full logo - animated 
// --------------------
// NB. SVG text is comprised of shapes/paths, not html text
@mixin animated-logo($shield: $darkblue, $arc: $lightblue, $arrow: $orange, $text: $darkblue) {
	// Default/SASS colours
	.shield {
		fill: $shield;
	}
	.arc {
		stroke: $arc
	}
	.arrow {
		fill: $arrow
	}
	.text {
		fill: $text;
	}

	// Specified colours (CSS class)
	@each $color, $value in $foundation-palette {
		.university.#{$color} .text,
		.tech.#{$color} .text,
		.ontario.#{$color} .text,
		.arrow.#{$color},
		.shield.#{$color} {
			fill: $value;
		}
	}
	@each $color, $value in $foundation-palette {
		.arc.#{$color} {
			stroke: $value;
		}
	}

	// Animations
	.shield, .arrow {
		transform-origin: 50% 100%;
	}
	.arc {
		fill: none;
		stroke-width: 5;
		stroke-miterlimit: 10;
		stroke-dasharray: 39.83816146850586;
		opacity: 0;
	}

	.shield {
		animation: .6s cubic-bezier(.6, .2, .55, .95) .5s backwards slide-in-left;
	}
	.arc {
		animation: drawArc 0.9s cubic-bezier(0.2, 0.5, 0.4, 1) 1.1s forwards;
	}
	.arrow {
		animation: .7s cubic-bezier(.6, .2, .55, .95) 1.2s backwards fade-in;
	}
	.ontariotech {
		animation: .7s cubic-bezier(.6, .2, .55, .95) .1s backwards slide-in-down;
	}
	.university {
		animation: 1s cubic-bezier(.6, .2, .55, .95) .25s backwards fade-in;
	}
}

@keyframes drawArc {
	from {
		opacity: 0;
		stroke-dashoffset: 39.83816146850586;
	}

	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

.logo-animated {
	@include animated-logo;
}

