<div class="row">
	<div class="column">
		<h2 class="h1">Accordion</h2>
		<div class="code-example language-html">
			<ul class="accordion" data-accordion="accordion-example">
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#accordion1">Accordion 1</a>
					<div class="accordion-content" data-tab-content  id="accordion1">
						<p>Lorem ipsum dolor sit amet, <a>consectetur adipisicing elit</a>. Tenetur, temporibus, blanditiis. Velit
							sint eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus
							sequi.</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#accordion2">Accordion 2</a>
					<div class="accordion-content" data-tab-content id="accordion2">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#accordion3">Accordion 3</a>
					<div class="accordion-content" data-tab-content id="accordion3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Callout accordion</h3>
		<p>Callout accordions feature larger text size and increased padding.</p>
		<div class="code-example language-html">
			<ul class="accordion callout-accordion" data-accordion="callout-accordion-example">
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#callout-accordion1">Callout Accordion 1</a>
					<div class="accordion-content" data-tab-content id="callout-accordion1">
						<p>Lorem ipsum dolor sit amet, <a>consectetur adipisicing elit</a>. Tenetur, temporibus, blanditiis. Velit
							sint eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus
							sequi.</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#callout-accordion2">Callout Accordion 2</a>
					<div class="accordion-content" data-tab-content id="callout-accordion3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#callout-accordion3">Callout Accordion 3</a>
					<div class="accordion-content" data-tab-content id="callout-accordion3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Blue callout accordion</h3>
		<p>Callout accordion with <code>.blue</code> class.</p>
		<div class="code-example language-html">
			<ul class="accordion callout-accordion blue" data-accordion="callout-accordion-blue">
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#blue-callout-accordion1">Callout Accordion 1</a>
					<div class="accordion-content" data-tab-content id="callout-accordion1">
						<p>Lorem ipsum dolor sit amet, <a>consectetur adipisicing elit</a>. Tenetur, temporibus, blanditiis. Velit
							sint eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus
							sequi.</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#blue-callout-accordion2">Callout Accordion 2</a>
					<div class="accordion-content" data-tab-content id="callout-accordion3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a class="accordion-title" href="#blue-callout-accordion3">Callout Accordion 3</a>
					<div class="accordion-content" data-tab-content id="callout-accordion3">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, temporibus, blanditiis. Velit sint
							eligendi fuga odit corporis iure ad illo. Itaque voluptate sit eius ut fuga laborum a delectus sequi.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>