<div class="row">
	<div class="column">
		<h2 class="h1">Callout stat</h2>
	</div>
</div>
<div class="row">
	<div class="column">
		<h3>Standard, number-based stats</h3> 
		<p>Uses the CountUp plugin to animate the counting up of the stat number. </p>
	</div>
</div>
<div class="code-example">
	<!-- Note that the stat number is added in the "data-stat" attribute, not in the .callout-stat-number element -->
	<div class="row xxsmall-up-1 medium-up-4">
		<div class="column">
			<div class="callout-stat" data-stat="25" data-stat-suffix="k+">
				<div class="callout-stat-number"></div>
				<div class="callout-stat-caption">Graduate and undergraduate students</div>
				<a href="" class="button">CTA button</a>
			</div>
		</div>
		<div class="column">
			<div class="callout-stat callout-stat-small" data-stat="1550" data-stat-suffix="+">
				<div class="callout-stat-number"></div>
				<div class="callout-stat-caption">Faculty and staff</div>
				<a href="" class="button">CTA button</a>
			</div>
		</div>
		<div class="columns">
			<div class="callout-stat callout-stat-large" data-stat="1" data-stat-prefix="#">
				<div class="callout-stat-number"></div>
				<div class="callout-stat-caption">Undergraduate university for reputation</div>
				<a href="" class="button">CTA button</a>
			</div>
		</div>
		<div class="columns">
			<div class="callout-stat callout-stat-bg grey" data-stat="5" data-stat-prefix="#">
				<div class="callout-stat-number"></div>
				<div class="callout-stat-caption">Academic advisors dedicated to your success</div>
				<a href="" class="button">CTA button</a>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Text-based stats</h3>
		<p>Text-based "stats" can also be styled as callout stats and animated with the <code>.animate-in-view</code> class</code>.</p>
	</div>
</div>
<div class="code-example">
	<div class="row xxsmall-up-1 medium-up-3">
		<div class="columns">
			<div class="callout-stat callout-stat-small animate-in-view" >
				<div class="callout-stat-text">Program-relevant software</div>
				<div class="callout-stat-caption">provided to you by the university, equipped with industry-level standards</div>
				<a href="" class="button">CTA button</a>
			</div>
		</div>
		<div class="columns">
			<div class="callout-stat callout-stat-large animate-in-view">
				<div class="callout-stat-text">Science <span class="nowrap">co-op</span> education</div>
				<div class="callout-stat-caption">Flexible, paid work placements of 4, 8, 12 or 16 consecutive months</div>
			</div>
		</div>
		<div class="columns">
			<div class="callout-stat callout-stat-bg darkblue animate-in-view">
				<div class="callout-stat-text">Management option</div>
				<div class="callout-stat-caption">Complete an extra year of courses and you'll gain a solid foundation in business, accounting, finance, operations, marketing and human resources</div>
			</div>
		</div>
	</div>
</div>
