<div class="row">
	<div class="column">
		<h2 class="h1">Callout</h2>

		<h3>Default callout</h3>
		<div class="code-example">
			<div class="callout">
				<h4>Heading in callout</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aperiam eos molestiae laudantium tempora, incidunt, fugiat quas totam, sed voluptatem quisquam numquam. Distinctio impedit qui maxime reprehenderit reiciendis illo possimus. <a>Link in callout</a>.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Coloured callout</h3>
		<p>Add a semi-opaque background colour to a callout using a colour class name from <code>$basic-palette</code>.</p>
		<div class="code-example">
			<div class="callout lightblue">
				<h4>Heading in coloured callout</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aperiam eos molestiae laudantium tempora, incidunt, fugiat quas totam, sed voluptatem quisquam numquam. Distinctio impedit qui maxime reprehenderit reiciendis illo possimus. <a>Link in coloured callout</a>.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Coloured callout, 100% strength</h3>
		<p>Add an opaque background colour to a callout using a colour class name from <code>$basic-palette</code> and the <code>.bold</code> class.</p>
		<div class="code-example">
			<div class="callout lightblue bold">
				<h4>Heading in bold callout</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aperiam eos molestiae laudantium tempora, incidunt, fugiat quas totam, sed voluptatem quisquam numquam. Distinctio impedit qui maxime reprehenderit reiciendis illo possimus. <a>Link in bold callout</a>.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="column">
		<h3>Padding size</h3>
		<p>Adjust the callout padding size with <code>.small</code> or <code>.large</code> classes.</p>
		<div class="code-example">
			<div class="callout">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto eligendi quo mollitia quod nulla animi atque reiciendis, eius est voluptates at voluptas! Repellendus enim id quidem vitae nemo eos!
			</div>
			<div class="callout small">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto eligendi quo mollitia quod nulla animi atque reiciendis, eius est voluptates at voluptas! Repellendus enim id quidem vitae nemo eos!
			</div>
			<div class="callout large">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto eligendi quo mollitia quod nulla animi atque reiciendis, eius est voluptates at voluptas! Repellendus enim id quidem vitae nemo eos!
			</div>
		</div>
	</div>
</div>