<section class="column">
	<div class="block{{#if color}} {{color}}{{/if}}">{{#if blocklink}}
		<a href=""><span class="show-for-sr">Heading</span></a>{{/if}}{{#if image}}
		<div class="image"><img src="https://picsum.photos/1000/667?random=1"></div>{{/if}}{{#if icon}}
		<span class="icon icon_minion"></span>{{/if}}
		<div class="contents">
			<h2 class="header">Heading</h2>
			<div class="description">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo atque maxime tempora aspernatur. Optio excepturi similique at, blanditiis, dicta praesentium eaque quod quas voluptate odio perspiciatis dolores amet, delectus!</p>
				<p>Laborum distinctio neque quaerat quisquam nobis maxime consectetur vero asperiores. Maiores illo repudiandae, accusamus tenetur aperiam error quo quas nihil libero quam.</p>
			</div>{{#if button}}
			<a href="" class="button">Button</a>{{/if}}
		</div>
		{{#if emptycolor}}<div class="bgcolor"></div>{{/if}}{{#if color}}<div class="bgcolor {{color}}"></div>{{/if}}{{#if bgicon}}
		<div class="bgicon icon_minion"></div>{{/if}}{{#if bgimage}}
		<div class="image" style="background-image:url('https://picsum.photos/1000/667?random=1');"></div>{{/if}}
	</div>
</section>

<section class="column">
	<div class="block{{#if color2}} {{color2}}{{/if}}">{{#if blocklink}}
		<a href=""><span class="show-for-sr">Heading</span></a>{{/if}}{{#if image}}
		<div class="image"><img src="https://picsum.photos/1000/667?random=2"></div>{{/if}}{{#if icon}}
		<span class="icon icon_sailormoon"></span>{{/if}}
		<div class="contents">
			<h2 class="header">Heading</h2>
			<div class="description">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero laborum incidunt qui minima reprehenderit sint, commodi delectus sequi doloribus velit quia dicta veritatis illum beatae laboriosam cumque, quisquam fugit possimus?</p>
			</div>{{#if button}}
			<a class="button">Button</a>{{/if}}
		</div>
		{{#if emptycolor}}<div class="bgcolor"></div>{{/if}}{{#if color2}} <div class="bgcolor {{color2}}"></div>{{/if}}{{#if bgicon}}
		<div class="bgicon icon_sailormoon"></div>{{/if}}{{#if bgimage}}
		<div class="image" style="background-image:url('https://picsum.photos/1000/667?random=2');"></div>{{/if}}
	</div>
</section>
