
<div class="row">
	<div class="column">
		<h2 class="h1">CTA thumbnails</h2>
		<p>The CTA thumbnail home page component should only be used on the main home page (ontariotechu.ca) and faculty home pages. CTA thumbnails appear below the banner on the main home page. CTA thumbnails appear to the side of the banner image on faculty home pages (alternative banner layout).</p>

		<div class="code-example">
			<div class="cta-thumbnails row xxsmall-up-1 small-up-2 large-up-4">
				<div class="column">
					<div class="cta-thumbnail" ontouchstart="this.classList.toggle('hover');">
						<a class="link" href=""><span class="show-for-sr">Link text</span></a>
						<img src="https://picsum.photos/id/352/1000/667">
						<div class="teaser">
							<div class="header">Develop, discover and train</div>
						</div>
						<div class="contents">
							<div class="description">From cycling and skiing, to wind surfing and sailing, our one-of-a-kind facility aims to make athletes perform better.</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="cta-thumbnail"  ontouchstart="this.classList.toggle('hover');">
						<a class="link" href=""><span class="show-for-sr">Link text</span></a>
						<img src="https://picsum.photos/id/370/1000/667">
						<div class="teaser">
							<div class="header">Download viewbooks</div>
						</div>
						<div class="contents">
							<div class="description">View undergraduate and graduate viewbooks
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="cta-thumbnail" ontouchstart="this.classList.toggle('hover');">
						<a class="link" href=""><span class="show-for-sr">Link text</span></a>
						<img src="https://picsum.photos/id/324/1000/667">
						<div class="teaser">
							<div class="header">Register now for Summer Camp programs</div>
						</div>
						<div class="contents">
							<div class="description">The Faculty of Education offers a variety of unique summer camp programs in July and August.
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="cta-thumbnail"  ontouchstart="this.classList.toggle('hover');">
						<a class="link" href=""><span class="show-for-sr">Link text</span></a>
						<img src="https://picsum.photos/id/373/1000/667">
						<div class="teaser">
							<div class="header">Virtual tour</div>
						</div>
						<div class="contents">
							<div class="description">Explore Ontario Tech's two campus locations from home with our virtual tour!
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>