<div class="row">
	<div class="column">
		<h2 class="h1">Events <span class="subheading">(feature module)</span> </h2>
		{{> php-component}} 
		<p>See: <a href="/kitchen-sink/events.php">Events</a></p>

		<section class="events mediumblue">
			<div class="feature-module home-module">
				<div class="heading">
					<h2>Events</h2>
					<a class="see_all" href="https://events.ontariotechu.ca">All
						events<span></span></a>
				</div>
				<div class="content">
					<div class="swiper-container" id="events-slider">
						<div class="swiper-wrapper">
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6488" target="_blank">
									<p class="event_date">May <span>11</span></p>
									<p class="event_info"><span class="event_title">CPR Recertification</span><span class="event_time">North
											Oshawa Location, SHA038<br>6 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6484" target="_blank">
									<p class="event_date">May <span>16</span></p>
									<p class="event_info"><span class="event_title">Healthcare Providers CPR Recertification</span><span
											class="event_time">North Oshawa Location, 038<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6502" target="_blank">
									<p class="event_date">May <span>16</span></p>
									<p class="event_info"><span class="event_title">Dungeons and Dragons Employment Workshop</span><span
											class="event_time">North Oshawa Location, 2230<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6485" target="_blank">
									<p class="event_date">May <span>18</span></p>
									<p class="event_info"><span class="event_title">Healthcare Providers CPR Recertification </span><span
											class="event_time">North Oshawa Location, 038<br>6 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6501" target="_blank">
									<p class="event_date">May <span>23</span></p>
									<p class="event_info"><span class="event_title">Managing Anxiety and Stress Workshop</span><span
											class="event_time">virtual<br>9 a.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6486" target="_blank">
									<p class="event_date">May <span>23</span></p>
									<p class="event_info"><span class="event_title">Healthcare Providers CPR Recertification </span><span
											class="event_time">North Oshawa Location, 038<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6503" target="_blank">
									<p class="event_date">May <span>23</span></p>
									<p class="event_info"><span class="event_title">Dungeons and Dragons Employment Workshop</span><span
											class="event_time">North Oshawa Location, 2230<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6504" target="_blank">
									<p class="event_date">May <span>30</span></p>
									<p class="event_info"><span class="event_title">Dungeons and Dragons Employment Workshop </span><span
											class="event_time">North Oshawa Location, 2230<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6490" target="_blank">
									<p class="event_date">Jun <span>6</span></p>
									<p class="event_info"><span class="event_title">Wellness Walks </span><span class="event_time">North
											Oshawa Location, Front desk <br>Noon</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6505" target="_blank">
									<p class="event_date">Jun <span>6</span></p>
									<p class="event_info"><span class="event_title">Dungeons and Dragons Employment Workshop</span><span
											class="event_time">North Oshawa Location, 2230<br>1 p.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6473" target="_blank">
									<p class="event_date">Jun <span>7</span></p>
									<p class="event_info"><span class="event_title">Convocation - Education</span><span
											class="event_time">Polonsky Commons<br>9:30 a.m.</span></p>
								</a></div>
							<div class='swiper-slide'><a href="https://events.ontariotechu.ca/event/6475" target="_blank">
									<p class="event_date">Jun <span>8</span></p>
									<p class="event_info"><span class="event_title">Convocation - Science</span><span
											class="event_time">Polonsky Commons<br>9:30 a.m.</span></p>
								</a></div>
						</div>
						<div class="swiper-scrollbar"></div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div> 