<div class="row">
	<div class="column">
		<h2 class="h1">News <span class="subheading">(feature module)</span></h2>
		{{> php-component}}		
		
		<section class="news darkblue news-grid">
			<div class="feature-module home-module">
				<div class="heading">
					<h2>Latest news</h2>
					<a class="see_all" href="https://news.ontariotechu.ca/index.php"
						title="See all news">All news<span></span></a>
				</div>
				<div class="content articles">
	
	
					<article>
						<div>
							<a class="link"
								href="https://news.ontariotechu.ca/archives/2023/04/ontario-tech-researcher-to-lead-international-study-that-promotes-gender-inclusion-in-scientific-pursuits.php"
								o><span
									class="show-for-sr">Ontario Tech researcher to lead international study that promotes gender inclusion
									in scientific pursuits</span></a>
							<div class="news_img">
								<img
									src="https://news.ontariotechu.ca/archives/2023/04/images/fed-robyn-ruttenberg-rozen-sshrc-funding-thumbnail.jpg"
									alt="Dr. Robyn Ruttenberg-Rozen, Assistant Professor, Faculty of Education, Ontario Tech University  ">
							</div>
							<div class="news_text">
								<p class="news_date">April 26, 2023</p>
								<p class="news_title">Ontario Tech researcher to lead international study that promotes gender inclusion
									in scientific pursuits</p>
							</div>
						</div>
					</article>
					<article>
						<div>
							<a class="link"
								href="https://news.ontariotechu.ca/archives/2023/04/ontario-tech-masters-degree-thesis-wins-north-american-award.php"
								><span
									class="show-for-sr">Ontario Tech master’s degree thesis wins North American award</span></a>
							<div class="news_img">
								<img
									src="https://news.ontariotechu.ca/archives/2023/04/images/sgps-jennifer-robb-masters-thesis-thumbnail.jpg"
									alt="Jennifer Robb, Ontario Tech University 2022 Master of Arts in Education graduate won the 2023 Northeastern Association of Graduate Schools and ProQuest Dissertations Master’s Thesis Award. The award was presented to her in a ceremony in Portsmouth, New Hampshire.">
							</div>
							<div class="news_text">
								<p class="news_date">April 25, 2023</p>
								<p class="news_title">Ontario Tech master’s degree thesis wins North American award</p>
							</div>
						</div>
					</article>
					<article>
						<div>
							<a class="link"
								href="https://news.ontariotechu.ca/archives/2023/04/two-ontario-tech-researchers-leading-study-to-improve-reliability-of-bloodstain-analyses-at-crime-scenes.php"><span
									class="show-for-sr">Two Ontario Tech researchers leading study to improve reliability of bloodstain
									analyses at crime scenes </span></a>
							<div class="news_img">
								<img src="https://news.ontariotechu.ca/archives/2023/04/images/vpri-nfrf-stotesbury-lewis-thumbnail.jpg"
									alt="From left: Dr. Peter Lewis, Associate Professor (Computer Science), Faculty of Business and Information Technology, Co-Principal Investigator; and Dr. Theresa Stotesbury, Assistant Professor (Forensic Science), Faculty of Science. Principal Investigator. ">
							</div>
							<div class="news_text">
								<p class="news_date">April 25, 2023</p>
								<p class="news_title">Two Ontario Tech researchers leading study to improve reliability of bloodstain
									analyses at crime scenes </p>
							</div>
						</div>
					</article>
					<article>
						<div>
							<a class="link"
								href="https://news.ontariotechu.ca/archives/2023/04/how-will-ai-chatbots-impact-education-at-universities-and-in-our-workplaces.php"
								><span
									class="show-for-sr">How will AI chatbots impact education at universities and in our workplaces?
								</span></a>
							<div class="news_img">
								<img src="https://news.ontariotechu.ca/archives/2023/04/images/fssh-ai-chatbot-symposium-thumbnail.jpg"
									alt="From left: Dr. Isabel Pedersen, Professor, FSSH, and Director of the Digital Life Institute, Alyson King, Associate Professor, FSSH, and Chelsie Lalonde, MLIS, Librarian for FSSH. ">
							</div>
							<div class="news_text">
								<p class="news_date">April 20, 2023</p>
								<p class="news_title">How will AI chatbots impact education at universities and in our workplaces? </p>
							</div>
						</div>
					</article>
	
				</div>
			</div>
		</section>
		
	</div>
</div>