<div class="row">
	<div class="column">
		<h2 class="h1">Quick links bar <span class="subheading">(feature module)</span></h2>
		<p>The quick links bar feature module is a set of 3 to 4 featured links with icons and a brief description.</p>
		<p>Background colour can be specified using {{> main-palette}}.</p>
		<p>Top/bottom margins can be added using the <code>.margin-[top/bottom]</code> utility classes.</p>
	</div>
</div>
<div class="code-example">
	<div class="spotlight lightgrey margin-bottom">
		<div class="quick-links-bar row xxsmall-up-1 xsmall-up-2 medium-up-4">
			<div class="columns">
				<div class="icon_map-signs"></div>
				<p class="header"><a href="#">MyOntarioTech</a></p>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
			<div class="columns">
				<span class="icon_calendar"></span>
				<p class="header"><a href="">Academic Calendar</a></p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
			<div class="columns">
				<span class="icon_gradcap"></span>
				<p class="header"><a>Blackboard</a></p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
			<div class="columns">
				<span class="icon_calendardate"></span>
				<p class="header"><a>Important Dates</a></p>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</div>
	</div>
</div>