<div class="row">
	<div class="column">
		<h2 class="h1">Social links <span class="subheading">(feature module)</span></h2>
		<p>The social links feature module displays large icons and links to social media channels.</p>
		<p>Background colour can be specified using {{> main-palette}}.</p>
		{{> spotlight-width}}
		{{> spotlight-margins}}
	
		<div class="code-example">
			<section class="spotlight white column">
				<div class="feature-module">
					<div class="heading text-center">
						<h2><span class="orange">Connect with us</span></h2>
					</div>
					<div class="content">
						<div class="social-links align-center align-middle">
							<a href="https://www.facebook.com/ontariotechu" target="_blank" title="ontariotechu">
								<span class="icon_social_facebook"></span>
								<span class="show-for-sr">facebook: ontariotechu</span>
							</a>
							<a href="https://twitter.com/ontariotech_u" target="_blank" title="ontariotech_u">
								<span class="icon_social_twitter"></span>
								<span class="show-for-sr">x: ontariotech_u</span>
							</a>
							<a href="https://www.instagram.com/ontariotechu/" target="_blank" title="ontariotechu">
								<span class="icon_social_instagram"></span>
								<span class="show-for-sr">instagram: ontariotechu</span>
							</a>
							<a href="https://www.linkedin.com/school/ontariotech/" target="_blank" title="ontariotech">
								<span class="icon_social_linkedin"></span>
								<span class="show-for-sr">linkedin: ontariotech</span>
							</a>
							<a href="https://www.youtube.com/c/OntarioTech" target="_blank" title="OntarioTech">
								<span class="icon_social_youtube"></span>
								<span class="show-for-sr">youtube: OntarioTech</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<br>

		<p>The channel name can optionally be included.</p>
		<div class="code-example">
			<section class="spotlight white column">
				<div class="feature-module">
					<div class="heading text-center">
						<h2><span class="orange">Connect with us</span></h2>
					</div>
					<div class="content">
						<div class="social-links align-center align-middle">
							<a href="https://www.facebook.com/otfuturestudent" target="_blank" title="otfuturestudent">
								<span class="icon_social_facebook"></span>
								<span class="channel-name"><span class="show-for-sr">facebook:</span> otfuturestudent</span>
							</a>
							<a href="https://www.instagram.com/otfuturestudent/" target="_blank" title="otfuturestudent">
								<span class="icon_social_instagram"></span>
								<span class="channel-name"><span class="show-for-sr">instagram: </span> otfuturestudent</span>
							</a>
							<a href="https://www.tiktok.com/@otfuturestudent" target="_blank" title="otfuturestudent">
								<span class="icon_social_tiktok"></span>
								<span class="channel-name"><span class="show-for-sr">tiktok:</span> otfuturestudent</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>

	</div>
</div>