a {
	transition: all $transition-duration ease;
}

a.underline,
.underline a {
	border-bottom: 1px dotted;
}

button:focus {
  outline-width: 1px;
}

/// Common context-specific link styles
@mixin typography-primary-link($color: $darkblue, $hover: $color, $size: .88rem) {
  font-family: $heading-font;
  font-weight: 900;
  font-size: $size;
  text-transform: uppercase;
  color: $color;

  &:hover, &:active, &:focus {
    color: $hover;
  }
}
@mixin typography-secondary-heading($color: $lightblue) {
  font-family: $heading-font;
  font-weight: 900;
  font-size: 1.5rem;
  // text-transform: uppercase;
  color: $color;
}

/// Default text link style 
/// (background colour hover effect)
/// @param {Keyword} $color - link text/background colour
/// @param {Keyword} $color - hover text colour (optional)
/// @param {!important} $important [null] !important flag to override text/background colour
@mixin link-style($color: $lightblue, $hover: null, $important: null) {
  border-bottom: 1px dotted;
  background-image: linear-gradient(to right, transparent 50%, rgba($color, .1) 50%) $important;
  background-position: 0;
	background-size: 200%;
	color: $color $important;

  &:hover, &:active, &:focus{
		background-position: -100%; 
		@if ($hover != null) {
			color: $hover $important;
		}
  }

  &:focus {
    outline-width: 1px;
  }
}

.landing-page-content,
.page-content,
#news-article,
.site-docs, 
.kitchen-sink-content {
	ul:not(.accordion):not(.index-ctas):not(.menu):not(.module-quick-links):not(.pagination):not(.quickLinks):not(.tabs) a,
  p:not(.header) a,
  table a,
	> a {
    &:not(.remove-link-style):not([class*="button"]):not([class*="btn"]):not([class*="accordion"]):not([class*="fc-"]):not(.feature-link) {
      @include link-style;
    }
  }
}

/// Removes default text link style
/// (background colour hover effect)
@mixin remove-link-style($important: null) {
	background-position: unset $important;
	background-size: unset $important;
	background-image: none $important;
	border-bottom: none $important;
}

a.remove-link-style {
	@include remove-link-style();
}

/// Feature text link; text styles
/// (link with bold underline and chevron)
/// @param {Keyword} $color - link text colour
@mixin feature-text-link($color: $lightblue) {
	@include typography-primary-link($color, $color, 1rem);
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	line-height: 1;

	// bottom border hover
	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: right center;
		transition: transform 200ms ease-out;
	}

	// chevron
	&::after {
		content: '\203A';
		display: inline-block;
		font-size: 1.3rem;
		line-height: 0;
		margin-left: 5px;
		transition: color 200ms ease-out;
	}

	// hover effects
	&:hover,
	&:active,
	&:focus {
		&::before {
			transform: scaleX(1);
			transform-origin: left center;
		}
	} 
}

/// Feature text link; border/chevron styles
/// (link with bold underline and chevron)
/// @param {Keyword} $color - link text colour
/// @param {Keyword} $hover - line and cheveron colour
/// @param {font-size} $size - font size
@mixin feature-text-link-style($color: $lightblue, $hover: $orange, $size: rem-calc(16)) {
	@include feature-text-link($color);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: $color;
	font-size: $size;

	// bottom border hover
	&::before {		
		background: $hover;
	}
	// chevron
	&:hover,
	&:active,
	&:focus {
		&::after {
			color: $hover;
		}
	}
}

a.feature-link {
	@include feature-text-link-style($color: $lightblue, $hover: $orange);
}

// "Hidden" link within a block-level element
// (inline link is displayed like a link around the element; 
// inline link is better for analytics purposes)
@mixin hidden-link($z-index: 1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index;
	&:hover, &:active, &:focus {
		cursor: pointer;
	}
}

.hidden-link {
	@include hidden-link;
}


// Legacy; to phase out
// --------------------

@mixin text_nav_primary {
  font-family: $body-font;
  font-weight: 900;
  font-size: .88rem;
  text-transform: uppercase;
  color: $bluegrey; 
}

// primary link style (text only)
@mixin link_primary($link_color, $hover-color) {
  //@extend %text_nav_primary;
    font-family: $body-font;
    font-weight: 900;
    font-size: .88rem;
    text-transform: uppercase;
    // extend not working?
  color: $link_color;
  transition: all 300ms ease-out;
  
  &:hover, &:active, &:focus {
    color: $hover-color; //scale-color($hover-color, $lightness: -20%);
  }
}

%text_nav_primary {
  font-family: $body-font;
  font-weight: 900;
  font-size: .88rem;
  text-transform: uppercase;
  color: $bluegrey;
}

%secondary_nav_heading_links {
	font-family: $body-font;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $lightblue;
}

%secondary_nav_mobile_links {
	font-family: $body-font;
	font-size: .88rem;
	text-transform: none;
}