/**
 * Social channel links
 * Related files: 
 * - components/containers/feature-module
 * - components/containers/spotlight
 */

 
.social-links a {
	font-size: 3.5rem;
	font-family: $heading-font;
	font-weight: bold;
	margin: 1rem 5%;
	border-bottom: 0 !important;
	background-image: none !important;
	transition: all ease .3s;
	
	[class*="icon_"] {
		color: $lightblue !important;
	}

	&:hover, &:active, &:focus {
		transform: scale(1.1);
	}
}