// Lightgallery settings
// (declared before @import 'lightgallery-bundle')

$lg-path-fonts: $font-file-path + 'lightgallery';
$lg-path-images: $font-file-path + 'lightgallery/img';
$lg-theme-highlight: $lightblue;
$lg-border-radius-base: 0;