.accordion-menu {

	@if not $accordionmenu-arrows {
		.is-accordion-submenu-parent {
			> a {
				position: relative;
			}
			// chevron icon
			&:not(.has-submenu-toggle) > a::after {
				position: absolute; 
				top: 50%;
				right: 20px;
				transform: translateY(-50%) rotate(-90deg);
				content: '\e800';
				font-family: $icon-font;
				color: $orange;
				transition: .2s ease;
			}
			&[aria-expanded='true'] > a::after {
				transform: translateY(-50%) rotate(-270deg);
			}
		}
	}
}