<ul class="menu drilldown vertical" data-drilldown>
	<!-- Buildings -->
	<li >
		<a href="#" class="" id="buildings">Buildings</a>
		<ul class="menu vertical nested button-list" id="buildingsContainer">
				<li><button class="button expanded" id="building-ACE" data-toggle="building-detail-ACE">ACE [Click me for detail panel demo; future add]</button></li>
			
				<li><button class="button expanded" id="building-Business and IT Building">Business and IT Building</button></li>
			
				<li><button class="button expanded" id="building-Campus Corners">Campus Corners</button></li>
			
				<li><button class="button expanded" id="building-Campus Fieldhouse">Campus Fieldhouse</button></li>
			
				<li><button class="button expanded" id="building-Campus Ice Centre">Campus Ice Centre</button></li>
			
				<li><button class="button expanded" id="building-Clean Energy Research Lab">Clean Energy Research Lab</button></li>
			
				<li><button class="button expanded" id="building-Crime Scene House">Crime Scene House</button></li>
			
				<li><button class="button expanded" id="building-Energy Research Centre">Energy Research Centre</button></li>
			
				<li><button class="button expanded" id="building-Library">Library</button></li>
			
				<li><button class="button expanded" id="building-Library Portable">Library Portable</button></li>
			
				<li><button class="button expanded" id="building-OPG Engineering Building">OPG Engineering Building</button></li>
			
				<li><button class="button expanded" id="building-Science Building">Science Building</button></li>
			
				<li><button class="button expanded" id="building-Shawenjigewining Hall">Shawenjigewining Hall</button></li>
			
				<li><button class="button expanded" id="building-Software and Informatics Research Centre">Software and Informatics Research Centre</button></li>
			
				<li><button class="button expanded" id="building-University Pavilion">University Pavilion</button></li>
			
		</ul>
	</li>
	<!-- Campus services -->
	<li >
		<a href="#" class="" id="campus-services">Campus services</a>
		<ul class="menu vertical nested button-list">
			
				<li><button class="button expanded">Campus Bookstore</button></li>
				<li><button class="button expanded">Campus Health Centre</button></li>
				<li><button class="button expanded">Shipping and Receiving</button></li>
				<li><button class="button expanded">Shop61</button></li>
				<li><button class="button expanded">Shop SIRC</button></li>
			
		</ul>
	</li>
	<!-- Emergency services -->
	<li >
		<a href="#" class="" id="emergency-services">Emergency services</a>
		<ul class="menu vertical nested button-list">
				<li><button class="button expanded">Emergency services list here</button></li>								
		</ul>
	</li>
	<!-- Food -->
	<li >
		<a href="#" class="" id="food">Food and beverage</a>
		<ul class="menu vertical nested button-list">
				<li><button class="button expanded">Food and beverage list here</button></li>								
		</ul>
	</li>
	<!-- Parking -->
	<li >
		<a href="#" class="" id="parking">Parking</a>
		<ul class="menu vertical nested button-list">
				<li><button class="button expanded">Parking list here</button></li>
		</ul>
	</li>
	<!-- Residence -->
	<li >
		<a href="#" class="" id="residences">Residences</a>
		<ul class="menu vertical nested button-list">
				<li><button class="button expanded">Residences list here</button></li>
		</ul>
	</li>
	<!-- Study/student spaces -->
	<li >
		<a href="#" class="" id="study-spaces">Student/study spaces</a>
		<ul class="menu vertical nested">
			<li>
				<a href="">Study spaces</a>
				<ul class="menu vertical nested button-list">
					<li><button class="button expanded">Study space 1</button></li>
					<li><button class="button expanded">Study space 2</button></li>
				</ul>
			</li>
			<li>
				<a href="">Student lounge spaces</a>
				<ul class="menu vertical nested button-list">
					<li><button class="button expanded">Student space 1</button></li>
					<li><button class="button expanded">Student space 2</button></li>
				</ul>
			</li>
		</ul>
	</li>
	<!-- Sustainability -->
	<li>
		<a href="">Sustainability features</a>
		<ul class="menu vertical nested">
			<li>
				<a href="">Green roofs</a>
				<ul class="menu vertical nested button-list">
					<li><button class="button expanded">Green roof 1</button></li>
					<li><button class="button expanded">Green roof 2</button></li>
				</ul>
			</li>
			<li><a href="">Solar panels</a>
				<ul class="menu vertical nested button-list">
					<li><button class="button expanded">Solar panel 1</button></li>
					<li><button class="button expanded">Solar panel 2</button></li>
				</ul>
			</li>
		</ul>
		
	</li>
</ul>
