<ul class="accordion" data-accordion data-multi-open="false">
	<!-- Buildings -->
	<li class="accordion-item" data-accordion-item="">
		<a href="#" class="accordion-title" id="buildings">Buildings</a>
		<div class="accordion-content button-list" data-tab-content id="buildingsContainer">
				<button class="button expanded" id="building-ACE" data-toggle="building-detail-ACE">ACE [Click me for detail panel demo; future add]</button>
			
				<button class="button expanded" id="building-Business and IT Building">Business and IT Building</button>
			
				<button class="button expanded" id="building-Campus Corners">Campus Corners</button>
			
				<button class="button expanded" id="building-Campus Fieldhouse">Campus Fieldhouse</button>
			
				<button class="button expanded" id="building-Campus Ice Centre">Campus Ice Centre</button>
			
				<button class="button expanded" id="building-Clean Energy Research Lab">Clean Energy Research Lab</button>
			
				<button class="button expanded" id="building-Crime Scene House">Crime Scene House</button>
			
				<button class="button expanded" id="building-Energy Research Centre">Energy Research Centre</button>
			
				<button class="button expanded" id="building-Library">Library</button>
			
				<button class="button expanded" id="building-Library Portable">Library Portable</button>
			
				<button class="button expanded" id="building-OPG Engineering Building">OPG Engineering Building</button>
			
				<button class="button expanded" id="building-Science Building">Science Building</button>
			
				<button class="button expanded" id="building-Shawenjigewining Hall">Shawenjigewining Hall</button>
			
				<button class="button expanded" id="building-Software and Informatics Research Centre">Software and Informatics Research Centre</button>
			
				<button class="button expanded" id="building-University Pavilion">University Pavilion</button>
			
		</div>
		
	</li>
	<!-- Campus services -->
	<li class="accordion-item" data-accordion-item="">
		<a href="#" class="accordion-title" id="campus-services">Campus services</a>
		<div class="accordion-content button-list" data-tab-content>
			
				<button class="button expanded">Campus Bookstore</button>
				<button class="button expanded">Campus Health Centre</button>
				<button class="button expanded">Shipping and Receiving</button>
				<button class="button expanded">Shop61</button>
				<button class="button expanded">Shop SIRC</button>
			
		</div>
	</li>
	<!-- Emergency services -->
	<li class="accordion-item" data-accordion-item>
		<a href="#" class="accordion-title" id="emergency-services">Emergency services</a>
		<div class="accordion-content button-list" data-tab-content>
				<button class="button expanded">Emergency services list here</button>								
		</div>
	</li>
	<!-- Food -->
	<li class="accordion-item" data-accordion-item>
		<a href="#" class="accordion-title" id="food">Food and beverage</a>
		<div class="accordion-content button-list" data-tab-content>
				<button class="button expanded">Food and beverage list here</button>								
		</div>
	</li>
	<!-- Parking -->
	<li class="accordion-item" data-accordion-item>
		<a href="#" class="accordion-title" id="parking">Parking</a>
		<div class="accordion-content button-list" data-tab-content>
				<button class="button expanded">Parking list here</button>
		</div>
	</li>
	<!-- Residence -->
	<li class="accordion-item" data-accordion-item>
		<a href="#" class="accordion-title" id="residences">Residences</a>
		<div class="accordion-content button-list" data-tab-content>
				<button class="button expanded">Residences list here</button>
		</div>
	</li>
	<!-- Study spaces -->
	<li class="accordion-item" data-accordion-item>
		<a href="#" class="accordion-title" id="study-spaces">Study spaces</a>
		<div class="accordion-content button-list" data-tab-content>
				<button class="button expanded">Study spaces list here [Future add]</button>
		</div>
	</li>
</ul>