// Related files: layout/header/header


// Temporary fix for March 27 during header republish period;
// Resolves header styles for previous html layout
.nav-row {
	background: #fff;
	.logo-container {
		max-width: 80rem;
		margin: 0 auto;
	}
	// .nav-container {
	// 	background: rgba($main-menu-background-color, .85);
	// }
	.menu-main {
		max-width: $global-width - use_gutter();
		margin: 0 auto;
		justify-content: flex-start
	}
}


// Hide menu until Foundation loaded (prevent FOUC)
.no-js {
	@include breakpoint(medium) {

		.menu-main .menu,
		.is-sidebar-menu {
			display: none;
			opacity: 0;
		}

	}
}

// Add padding above an anchored element to account for sticky header 
[id] {	
	scroll-margin-top: $scroll-margin-top;
	box-sizing: border-box;
	// If element is tab/accordion, account for tab links height
	&.tabs-panel,
	&.accordion-content {
		scroll-margin-top: $scroll-margin-top + rem-calc(45);
	}
}
// html {
// 	scroll-margin-top: $scroll-margin-top;
// }

// Nav layout
// ----------

// .nav-bar>div {
// 	@include breakpoint(small down) {
// 		@include flex-grid-column($gutters: 0);
// 	}

// 	@include breakpoint(medium up) {
// 		// margin-top: 2.31rem;
// 		@include flex-grid-row();
// 		@include flex-align(justify, bottom);
// 	}

// 	@include breakpoint(xxsmall only) {
// 		@include flex-align(center, null);
// 	}
// }


// Main menu (top level)
// ---------------------

.nav-bar {
	background: $main-menu-background-color;
	@include breakpoint(medium) {
		background: rgba($main-menu-background-color, .85);
	}
}

.nav-container {
	@media print {
		display: none;
	}
}

.menu-main {
	// flex-wrap: wrap;
	a {
		font-family: $heading-font;
		outline: none;

		&[data-symlink]:after {
			@include icon;
			content: get-icon('icon_mouse_window');
			vertical-align: super;
			font-size: 0.6875rem;
			margin-left: 0.5rem;
		}

		&[data-login]:after {
			@include icon;
			content: get-icon('icon_lock');
			vertical-align: super;
			font-size: 0.6875rem;
			margin-left: 0.5rem;
		}
	}

	ul {
		background: $main-menu-background-color;
		flex-wrap: wrap;
	}

	@include breakpoint(medium up) {

		// top level links
		>li {
			>a {
				white-space: nowrap;
				outline: none;
				text-transform: uppercase;
				color: $main-menu-item-color;

				&.is-active,
				&:hover,
				&:active,
				&:focus {
					background: rgba($darkorange, .9);// rgba($orange,.9);
				}
			}

			&:first-child a {
				margin-left: 0;
			}

			&:last-child a {
				margin-right: 0;
			}
		}

		// active link 	
		li.active>a {
			color: $main-menu-item-color-active;
		}
	}
}

.sticky.is-stuck {
	@media print {
		display: none;
	}
}


// Standard dropdown menu 
// ----------------------

.has-standard-menu {
	position: relative;

	.is-drilldown {
		position: absolute;
		top: auto;
		left: 0;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0 1.75rem 0 $main-menu-background-color, 0 -1.75rem 0 $main-menu-background-color;
		background: $main-menu-background-color;
		margin-top: 1.75rem;

		&.nav-visible {
			visibility: visible;
			opacity: 1;
		}

		// @include breakpoint(medium up) {
			width: map-get($offcanvas-sizes, large) + 50;
		// }
	}

	.is-standard-menu {
		display: none; // hide until drilldown is initialized
	}

	a {
		color: $main-menu-item-color;
	}

	// active link; separate page link and submenu-arrow link
	li>a:first-child {
		&:hover,
		&:active,
		&:focus {
			background: $main-menu-item-background-hover;
			color: $main-menu-item-color-active;

			& + a.more {
				color: $main-menu-item-color-active-secondary;
			}
		}
	}
	li>a.more {
		&:hover,
		&:active,
		&:focus {
			background: $main-menu-item-background-hover;
			color: $main-menu-item-color-active-secondary;
		}
	}
}


// Mega menu
// ---------

.is-mega-menu {
	@include grid-row($size: 'expand'); //grid-row($width: 100%);
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	max-height: 530px;
	background: $main-menu-background-color;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	transition: all $transition-duration linear;

	&.nav-visible {
		visibility: visible;
		opacity: 1;
	}
	>.row {
		max-width: $global-width - use_gutter();
	}
	// mega menu columns
	>.row>.column {
		@include grid-column-collapse;
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
		border-right: 1px solid rgba(0, 0, 0, .1);

		&:last-child {
			border-right: 0;
		}
	}

	// mega menu column index link 
	.is-mega-column-index {
		@include typography-secondary-heading;
		display: block;
		padding: 0 1rem 0.7rem;

		@include breakpoint(medium up) {
			color: $main-menu-item-color;
			&:hover,
			&:active,
			&:focus {
				background: transparent !important;
				color: $orange;
			}
		}
	}

	.is-mega-column {
		max-height: 440px;
		overflow-y: auto;
	}

	.is-drilldown-submenu {
		display: block;
		background: $main-menu-background-color;
	}

	// active link
	@include breakpoint(medium up) {
		// active link
		li.active>a {
			color: $main-menu-item-color-active;
		}

		// separate page link and submenu-arrow link
		li>a:first-child {
			&:hover,
			&:active,
			&:focus {
				background: $main-menu-item-background-hover;
				color: $main-menu-item-color-active;
	
				& + a.more {
					color: $main-menu-item-color-active-secondary;
				}
			}
		}
		li>a.more {
			&:hover,
			&:active,
			&:focus {
				background: $main-menu-item-background-hover;
				color: $main-menu-item-color-active-secondary;
			}
		}
	}

	a {
		outline: none;
		font-family: $heading-font;
		color: $main-menu-item-color;
	}
	
}

.close-mega-menu {
	position: absolute;
	top: 0;
	right: 0;

	.button {
		color: $white;
		@include button-icon-center;

		&.hollow {
			border: none;
		}
	}
}


// Menu panel
// ----------

.is-mega-menu.has-menu-panel {

	// navigation
	>.row>.column:not(.is-menu-panel) {
		width: 25%;
		@extend .shrink;
	}

	// panel section
	>.row .is-menu-panel {
		@include grid-column-gutter(30);
	}

	// images
	figure {
		position: relative;
		margin-bottom: 1rem;

		img {
			width: 100%;
			height: auto;
		}

		figcaption {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 90%;
			margin: 0;
			padding: 1rem;
			z-index: 2;
			font-weight: bold;
			color: #fff;
			// @include typography-primary-link(#fff);

			// chevron
			&::after {
				display: inline-block;
				content: '\203A';
				font-size: 1.5rem;
				line-height: 0;
				color: $orange;
				transition: .5s ease;
				transform: translate(-150%, 2px);
				opacity: 0;
			}
		}
		// hover effect - chevron
		&:hover figcaption::after {
			transform: translate(5px, 2px);
			opacity: 1;
		}

		// black overlay
		&:not(.disable-gradient) {
			@include gradient-overlay($position: bottom);
		}
	}

	// callout
	.callout {
		img {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
		}
	}

	// content
	[class*='float']~div,
	[class*='float']~p,
	[class*='float']~ul {
		display: table;
	}

	.is-menu-panel {
		>.row>.column {
			color: $grey; // #fff;
		}

		li>a:first-child {

			&:hover,
			&:active,
			&:focus {
				background: transparent;
				color: $anchor-color;
			}
		}

		a.button {
			color: $button-color;
		}
	}

	// headings
	.menu-panel-header {
		@include typography-secondary-heading($white);
		line-height: 1.5;
	}

	.menu-panel-subheader {
		font-size: 1.2rem;
		font-family: $heading-font;
		font-weight: 900;
		text-transform: uppercase;
		color: $orange;
	}
}


// Page overlay
// ------------

.menu-page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $offcanvas-exit-background;
	z-index: 3;
	display: none;

	&.nav-visible {
		// display: block;
	}
}
