// Related files: components/multimedia/photogallery


// Image floats 
// ------------
img.float-left,
p.float-left img, 
figure.float-left,
.img_left, // legacy - v1 
img.float_left, // legacy - v2.0
p.float_left img // legacy - v2.0
{  
	float: left;
	margin-bottom: .75rem;

	@include breakpoint(699px down) {
		float: none !important;
		width: 100%;
		margin-right: 0;
	}
	@include breakpoint(700px) {
	  margin-right: 1.75rem;
	}
}

img.float-right,
p.float-right img, 
figure.float-right,
.img_right, // legacy - v1
img.float_right, // legacy - v2.0
p.float_right img // legacy - v2.0
{
	float: right;
	margin-bottom: .75rem;

	@include breakpoint(699px down) {
		float: none !important;
		width: 100%;
		margin-left: 0;
	}
	@include breakpoint(700px) {
	  margin-left: 1.75rem;
	}
}

// Individual image (Light gallery - pop up)
// ----------------
.img-enlarge,
.img-enlarge:hover {
	cursor: pointer; 
}

// Image with caption
// ------------------
figure {
	margin: 0;
}

figcaption {
	margin-top: .25rem;
}
.landing-page-content figcaption,
.page-content figcaption,
.page-sidebar figcaption {
	font-family: $heading-font;
}

img.caption {
	@extend figure;
}

// Thumbnail
// ---------
.th {
	@extend .thumbnail;
}

// Circle crop
// -----------
img.circle {
	border-radius: 50%;
}