<div class="row">
	<div class="column">
		<h2 class="h1">Blockquote</h2>

		<h3>Basic blockquote</h3>
		<div class="code-example language-html">
			<blockquote>
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>Danielle Kent Johnston</cite>
			</blockquote>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Callout quote</h3>
		<div class="code-example language-html">
			<blockquote class="callout-quote animate-in-view" style="margin-top:2rem;">
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>
					<span class="quote-name">Danielle Kent Johnston</span>
					<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
					<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
				</cite>
			</blockquote>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Callout quote, small (for long quotes)</h3>
		<div class="code-example language-html">
			<blockquote class="callout-quote-small animate-in-view" style="margin-top:2rem;">
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>
					<span class="quote-name">Danielle Kent Johnston</span>
					<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
					<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
				</cite>
			</blockquote>					
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Blockquote with border</h3>
		<div class="code-example language-html">
			<blockquote class="border animate-in-view">
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>
					<span class="quote-name">Danielle Kent Johnston</span>
					<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
					<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
				</cite>
			</blockquote>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Blockquote with quotation marks</h3>
		<div class="code-example language-html">
			<blockquote class="quotes animate-in-view">
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>
					<span class="quote-name">Danielle Kent Johnston</span>
					<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
					<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
				</cite>
			</blockquote>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Blockquote with sizing</h3>
		<div class="code-example language-html">
			<blockquote class="border small-6 float-right">
				The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
				<cite>
					<span class="quote-name">Danielle Kent Johnston</span>
					<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
					<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
				</cite>
			</blockquote>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatibus, temporibus, ratione accusantium necessitatibus facere excepturi quibusdam, recusandae labore hic tenetur autem. Voluptates porro corporis, voluptatum blanditiis iure. Aut, explicabo!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi unde eum accusamus libero repellat ab recusandae, quaerat laudantium explicabo, tempore eligendi error odio. Rerum doloremque voluptas aliquid nisi est!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos velit fugiat quo nemo magnam modi cum cupiditate voluptate deleniti quaerat esse ut atque architecto distinctio fugit, accusamus sapiente, inventore tenetur.</p>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="column">
		<h3>Blockquote with image</h3>
		<div class="code-example language-html">
			<div class="blockquote-has-image">
				<img class="circle border" src="https://picsum.photos/300" alt="">
				<blockquote class="callout-quote animate-in-view" style="margin-top:2rem;">
					The university's curriculum helped me achieve my career goals. The professors provide a comfortable learning environment and treat students with respect.
					<cite>
						<span class="quote-name">Danielle Kent Johnston</span>
						<span class="quote-credential">Bachelor of Arts (Honours) in Communication and Digital Media Studies</span>
						<span class="quote-title">Manager of Talent Acquisition and Operations, Durham Regional Police Service, Whitby, Ontario</span>
					</cite>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<br>