<div class="row">
	<div class="column">
		<h2 class="h1">Fonts</h2>

		<h3>Primary font: Ubuntu</h3>

		<p>In web usage, this font is primarily reserved for headings or feature copy. Ubuntu font files are imported from Google Fonts.</p>
		<div class="callout shrink">
			<p style="font-family: 'Ubuntu'; font-size: 2rem;">Ubuntu</p>
		</div>
		<ul>
			<li>https://fonts.googleapis.com/css?family=Ubuntu:400,700</li>
			<li>CSS font-family: <code>'Ubuntu'</code></li>
			<li>CSS font-weight: <code>400</code> or <code>700</code></li>
			<li>SASS variable: <code>$heading-font</code></li>
		</ul>
		<br>

		<h3>Secondary font: ITC Franklin Gothic STD</h3>
		<p>In web usage, Franklin Gothic is used for the main body font. Franklin Gothic variations are included either from the atlas-h shared.ontariotechu.ca server or the ituomweb ontariotechu.ca server, depending on where the CSS build file will be used.</p>
		<p><strong>Note:</strong> Franklin Gothic Condensed is included, but this is mostly a legacy font face and should not be used in regular web content.</p>

		<div class="callout shrink">
			<p style="font-family: 'Franklin Gothic'; font-size: 2rem;">Franklin Gothic Book</p>
		</div>
		<ul>
			<li>https://[shared.]ontariotechu.ca/global/files/fonts/franklingothicbook/FranklinGothic-Book-webfont.[eot/svg/ttf/woff/woff2]</li>
			<li>CSS font-family: <code>'Franklin Gothic'</code></li>
			<li>CSS font-weight: <code>400</code> or <code>normal</code></li>
			<li>SASS variable: <code>$body-font</code></li>
		</ul>
		
		<div class="callout shrink">
			<p style="font-family: 'Franklin Gothic'; font-size: 2rem; font-weight: bold;">Franklin Gothic Medium</p>
		</div>
		<ul>
			<li>https://[shared.]ontariotechu.ca/global/files/fonts/franklingothicmedium/FranklinGothic-Med-webfont.[eot/svg/ttf/woff/woff2]</li>
			<li>CSS font-family: <code>'Franklin Gothic'</code></li>
			<li>CSS font-weight: <code>700</code> or <code>bold</code></li>
			<li>SASS variable: <code>$body-font</code></li>
		</ul>

		<div class="callout shrink">
			<p style="font-family: 'Franklin Gothic'; font-size: 2rem; font-weight: 900;">Franklin Gothic Demi</p>
		</div>
		<ul>
			<li>https://[shared.]ontariotechu.ca/global/files/fonts/franklingothicdemi/FranklinGothic-Demi-webfont.[eot/svg/ttf/woff/woff2]</li>
			<li>CSS font-family: <code>'Franklin Gothic'</code></li>
			<li>CSS font-weight: <code>900</code></li>
			<li>SASS variable: <code>$body-font</code></li>
		</ul>
		
		<div class="callout shrink">
			<p style="font-family: 'Franklin Gothic Condensed'; font-size: 2rem; font-weight: bold;">Franklin Gothic Condensed</p>
		</div>
		<ul>
			<li>https://[shared.]ontariotechu.ca/global/files/fonts/franklingothiccondensed/FranklinGothic-Cd-webfont.[eot/svg/ttf/woff/woff2]</li>
			<li>CSS font-family: <code>'Franklin Gothic Condensed'</code></li>
			<li>CSS font-weight: <code>400</code></li>
			<li>SASS variable: N/A - this font face is primarily legacy; if it needs to be used, directly reference the CSS font-family name.</code>
		</ul>
		<br>

		<h3>Fallback font: Arial</h3>
		<div class="callout shrink">
			<p style="font-family: 'Arial'; font-size: 2rem;">Arial</p>
		</div>
		<p>In cases where Ubuntu or Franklin Gothic cannot be used (such as on third-party websites), Arial can be used instead.</p>
		<br>

		<h3 id="fonts-icons">Icon font: UOIT Icons</h3>
		<p>Web icons are rendered using a custom font family, UOIT Icons. See also: <a href="icons.html">Icons</a>.</p>
		<div class="callout shrink">
			<p style="font-family: 'UOIT Icons'; font-size: 2rem;"><span class="icon_book_ot"></span> <span class="icon_home"></span> <span class="icon_minion"></span> <span class="icon_sailormoon"></span></p>
		</div>
		<ul>
			<li>https://[shared.]ontariotechu.ca/global/files/fonts/uoiticons/uoiticons.[eot/svg/ttf/woff]</li>
			<li>CSS font-family: <code>'UOIT Icons'</code></li>
			<li>CSS font-weight: <code>400</code> or <code>normal</code></li>
			<li>SASS variable: <code>$icon-font</code></li>
		</ul>
		

	</div>
</div>
