//  Global settings
//  ---------------
//
//  Table of contents:
//
//  1. Colours
//     a. Hex values
//     b. Scaled shades
//     c. Alternate variable names
//     d. Basic/Main palette
//     e. Deprecated/legacy colours
//
//  2. Feature module
//  3. Fonts
//  4. Footer
//  5. Header
//  6. Quick links
//  7. Transition/animations

// 1. Colours
// ----------

// 1.a. Hex values

/// Primary palette
$lightblue:  #0077ca; 
$darkblue:   #003c71;
$orange:     #e75d2a;
$darkorange: #CF4817; // AA compliant for regular text size

/// Secondary palette
$coolgrey:   #A7A8AA; // Pantone cool grey 6
$warmgrey:   #ACA39A; // Pantone warm grey 5
$bluegrey:   #5B6770; // Pantone 431 C
$spiritblue: #00283C;

/// Misc UI colours
$black:      #151515;
$white:      #ffffff;
$red:        #D00606;
$emergency:  #A40B0B;
$success:    #4E8200;
$warning:    #FFAE00;
$alert:      #D00606;

/// UOIT-DC / DC
$uoitdcgrey: #414042;
$dcgreen:    #037C5A;

// 1.b. Scaled shades
// ------------------

/// $tints of blue
$lighterblue: scale-color($lightblue, $lightness: 18%, $saturation: -30%);
$blue:        scale-color($lightblue, $lightness: -27%);
$darkerblue:  scale-color($darkblue, $lightness: -30%, $saturation: -10%);

/// % tints of cool grey (direct $variable usage only)
$coolgrey10:  scale-color($coolgrey, $lightness: 90%);
$coolgrey20:  scale-color($coolgrey, $lightness: 80%);
$coolgrey30:  scale-color($coolgrey, $lightness: 70%);
$coolgrey40:  scale-color($coolgrey, $lightness: 60%);
$coolgrey50:  scale-color($coolgrey, $lightness: 50%);
$coolgrey60:  scale-color($coolgrey, $lightness: 40%);
$coolgrey70:  scale-color($coolgrey, $lightness: 30%);
$coolgrey80:  scale-color($coolgrey, $lightness: 20%);
$coolgrey90:  scale-color($coolgrey, $lightness: 10%);

/// % tints of warm grey (direct $variable usage only)
$warmgrey10:  scale-color($warmgrey, $lightness: 90%);
$warmgrey20:  scale-color($warmgrey, $lightness: 80%);
$warmgrey30:  scale-color($warmgrey, $lightness: 70%);
$warmgrey40:  scale-color($warmgrey, $lightness: 60%);
$warmgrey50:  scale-color($warmgrey, $lightness: 50%);
$warmgrey60:  scale-color($warmgrey, $lightness: 40%);
$warmgrey70:  scale-color($warmgrey, $lightness: 30%);
$warmgrey80:  scale-color($warmgrey, $lightness: 20%);
$warmgrey90:  scale-color($warmgrey, $lightness: 10%);

/// % tints of blue grey (direct $variable usage only)
$bluegrey10:  scale-color($bluegrey, $lightness: 90%);
$bluegrey20:  scale-color($bluegrey, $lightness: 80%);
$bluegrey30:  scale-color($bluegrey, $lightness: 70%);
$bluegrey40:  scale-color($bluegrey, $lightness: 60%);
$bluegrey50:  scale-color($bluegrey, $lightness: 50%);
$bluegrey60:  scale-color($bluegrey, $lightness: 40%);
$bluegrey70:  scale-color($bluegrey, $lightness: 30%);
$bluegrey80:  scale-color($bluegrey, $lightness: 20%);
$bluegrey90:  scale-color($bluegrey, $lightness: 10%);

// 1.c. Alternate variable names
// -----------------------------

$mediumblue:     $blue;
$grey:           $bluegrey;
$lightgrey:      $coolgrey20;
$mediumgrey:     $coolgrey60;
$darkgrey:       $bluegrey;
$lightcoolgrey:  $coolgrey20;
$mediumcoolgrey: $coolgrey50;
$lightwarmgrey:  $warmgrey30;
$mediumwarmgrey: $warmgrey60;
$lightbluegrey:  $bluegrey50;
$mediumbluegrey: $bluegrey80;

// 1.d. Main palette
// -----------------
/// Primary palette and basic web shades
/// (for HTML class name usage, output via @each function)
$basic-palette: (
	lightblue: $lightblue,
	darkblue: $darkblue,
	blue: $blue,
	mediumblue: $blue,
	orange: $orange,
	accent: $orange,
	grey: $bluegrey,
);
/// Primary, secondary palettes and web shades
/// (for HTML class name usage, output via @each function)
$main-palette: (
	// lighterblue: $lighterblue,
	lightblue: $lightblue,
	darkblue: $darkblue,
	blue: $blue,
	mediumblue: $blue,
	darkerblue: $darkerblue,
	spiritblue: $spiritblue,
	orange: $orange,
	accent: $orange,
	grey: $bluegrey,
	lightgrey: $lightgrey,
	mediumgrey: $mediumgrey,
	coolgrey: $coolgrey,
	warmgrey: $warmgrey,
	bluegrey: $bluegrey,
	white: #ffffff,
	alert: $alert,
	success: $success,
	warning: $warning,
);
// darkorange: $darkorange,
// darkaccent: $darkorange,
// lightcoolgrey: $lightgrey,
// mediumcoolgrey: $mediumgrey,

// 1.e. Deprecated/legacy colours
// ------------------------------

// Brave the Future campaign
$btfgreen:   #84BD00;
$btfpink:    #C71566;
$btfyellow:  #FFCD3A;
$btfpurple:  #804693;
$btfindigo:  #211551;
$btflightblue:#41B6E6;
$btfgrey:    #333F48;

// Faculty
$fbit:       #00558C;
$fed:        #4F758B;
$fesns:      #6F263D;
$feas:       #5F259F;
$fhs:        #AF272F;
$fsci:       #007749;
$fssh:       #BE4D00;
$grad:       #000000;

// 2. Feature module
// -----------------

$module_bg_light: $lightgrey;
$module_bg_medium: $mediumgrey;
$module_bg_dark: $darkgrey;

// 3. Fonts
// --------

$font-file-path: 'https://shared.ontariotechu.ca/global/files/fonts/' !default;
$body-font: 'Franklin Gothic', Arial, Helvetica, sans-serif !default; 
$heading-font: 'Ubuntu', Arial, Helvetica, sans-serif !default;
$icon-font: 'UOIT Icons';

// 4. Footer
// ---------

$footer-background: $bluegrey !default;
$footer-top-background: $footer-background !default;
$footer-bottom-background: $footer-background !default;
$footer-link-color: $white !default;
$footer-link-hover-color: $white !default;

// 5. Header
// ---------

$site-title-bar: $orange !default;
$header-background: $bluegrey !default;
$header-link-color: $white !default;
$header-link-hover-color: $white !default;
$quick-links-button-height: rem-calc(35);
$main-menu-item-color: $white;
$main-menu-item-color-active: $darkblue;
$main-menu-item-color-active-secondary: $orange;
$main-menu-background-color: $darkblue;
$main-menu-item-background-hover: $white;
$scroll-margin-top: rem-calc(75);

// 7. Transition/animations
// ------------------------

$transition-duration: .3s;