{{!-- Standard Global Sites Templated page layout --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{root}}files/css/{{css}}.css">
		<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="{{root}}files/img/favicon.ico" type="image/x-icon">
  </head>
<body>

	{{#if mobile-nav}}
	 	{{> (lookup . 'mobile-nav')}}
	{{/if}}

	{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
	<div class="off-canvas-content" data-off-canvas-content>
	{{> body}}

	{{> footer}}
	</div>

</div>

<script src="{{root}}files/js/global3.1.js"></script>

</body>
</html>
