<footer class="footer">

	<div class="row footer_links">
			<div class="column ">
					<p class="header">Help</p>
					<ul>
							<li><a href="http://uoit.ca/contact-us.php">Contact us</a></li>
							<li><a href="http://uoit.ca/terms-of-use.php">Terms of use</a></li>
							<li><a href="https://uoit.ca/forms/online/view.php?id=441283">Website feedback</a></li>
					</ul>
			</div>
			<div class="column ">
					<p class="header">Connect</p>
					<ul>
							<li><a href="https://hr.uoit.ca/working_at_uoit/careers/index.php">Career opportunities</a></li>
							<li><a href="http://uoit.ca/expertcentre">Faculty experts</a></li>
							<li><a href="http://news.uoit.ca/media-inquiries/index.php">Media inquiries</a></li>
							<li><a href="https://studentlifeportal.uoit.ca/careerServices/servicesForEmployers.htm">Services for employers</a></li>
					</ul>
			</div>
			<div class="column ">
					<p class="header">Visit</p>
					<ul>
							<li><a href="http://uoit.ca/about/campus-buildings/index.php">Campus buildings</a></li>
							<li><a href="http://uoit.ca/maps">Campus map</a></li>
							<li><a href="https://uoit.ca/future-students/undergraduate/campus-tours-and-events/index.php">Campus tours</a></li>
							<li><a href="https://uoit.ca/virtualtour">Campus virtual tour</a></li>
					</ul>
			</div>
			<div class="column ">
					<p class="header">Info</p>
					<ul>
							<li><a href="http://uoit.ca/about">About</a></li>
							<li><a href="https://usgc.uoit.ca/governance/index.php">Governance</a></li>
					</ul>
			</div>
	</div>


	<div class="row">
		<div class="logo_footer">
			<img alt="University of Ontario Institute of Technology logo" height="44" src="https://shared.ontariotechu.ca/global/files/img/logos/rgb-logo-small-reverse.png" width="200"/>
			

			<div class="twentieth-graphic" id="confetti-containerr">
				<a href="https://ontariotechu.ca/20th">
					<img width="100" src="assets/20th/20th-graphic-Rev-DB-RGB2.png" alt="20th anniversary graphic">
					<span class="celebrating text-smaller white">Celebrating 20 years!</span>
				</a>
				<!-- <a href="https://ontariotechu.ca/20th"><img style="width:160px" class="margin-bottom" src="assets/20th/Celebrating20Yrs_Badge_dkbg4.png" alt=""></a> -->
				<?php //echo file_get_contents('assets/20th/confetti4.php'); ?>
			</div>


			<div class="footer_social_icons">
				<ul>
					<li><a class="icon icon_social_facebook" href="https://www.facebook.com/myuoit" onclick="ga('send','event','link','click','socialMediaPage_facbook');"><span class="show-for-sr">Facebook</span></a></li>
					<li><a class="icon icon_social_twitter" href="https://twitter.com/uoit" onclick="ga('send','event','link','click','socialMediaPage_twitter');"><span class="show-for-sr">Twitter</span></a></li>
					<li><a class="icon icon_social_instagram" href="https://www.instagram.com/uoit" onclick="ga('send','event','link','click','socialMediaPage_instagram');"><span class="show-for-sr">Instagram</span></a></li>
					<li><a class="icon icon_social_linkedin" href="http://www.linkedin.com/company/uoit" onclick="ga('send','event','link','click','socialMediaPage_linkedin');"><span class="show-for-sr">LinkedIn</span></a></li>
					<li><a class="icon icon_social_youtube" href="http://youtube.com/uoit" onclick="ga('send','event','link','click','socialMediaPage_youtube');"><span class="show-for-sr">YouTube</span></a></li>
				</ul>
			</div>
			
		</div>

		<div class="footer_address"><p>2000 Simcoe Street North<br/>Oshawa, Ontario L1G 0C5<br/>Canada</p>
			<p>905.721.8668</p>
			<p>The university is proud to acknowledge the lands and people of the Mississaugas of Scugog Island First Nation which is covered under the Williams Treaties. We are situated on the Traditional Territory of the Mississaugas, a branch of the greater Anishinaabeg Nation which includes Algonquin, Ojibway, Odawa and Pottawatomi.</p>
			<p>&#169; University of Ontario Institute of Technology <script type="text/javascript"> document.write(new Date().getFullYear()) </script></p>
		</div>


	</div> 

	<div class="footer_sticky">
		<div class="row align-right">         
			<a class="btn-to-top" href="javascript:void(0)" title="Scroll to top of page">
				<span>Top</span>
			</a>
		</div>
	</div> <!-- /.footer_sticky -->

</footer>